.light {
  --background: #eddcd2;
  --background-about: #fff;
  --text-color: #333333;
  --button-background: #fff;
  --input-text-background: #fff;
  --button-border: transparent;
  --button-hover-border: #4b9cd3;
  --card-background-color: #b5b6d1;
  --button-text-color: black;
  --unselect-button-background: #006f6a;
}

.dark {
  --background: #2f4550;
  --background-about: #111827;
  --text-color: #f5f5f5;
  --button-background: #1a1a1a;
  --input-text-background: #1a1a1a;
  --text-color-placeholder: #f5f5f5;
  --button-border: transparent;
  --button-hover-border: #646cff;
  --card-background-color: #d8e1e8;
  --button-text-color: white;
  --unselect-button-background: #f44336;
}
