/* .theme-container {
  text-align: center;
  padding: 50px;
  transition: background 0.5s ease;
} */
/* .light {
  background-color: #ffffff;
  color: #000000;
}
.dark {
  background-color: #333333;
  color: #ffffff;
} */
/* button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background 0.3s ease;
}
button:hover {
  background-color: #0056b3;
} */

.button {
  color: var(--text-color);
  border: 2px solid var(--button-border);
  background-color: var(--button-background);

  align-self: center;

  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: var(--button-hover-border);
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}